.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.increment{
  color: blue;
  font-size: large;
  font-size: xx-large;
  background-color: chartreuse;
  width: 100px;
  height: 100px;
  

}
.decrement{
  color: red;
  background-color: greenyellow;
  font-weight: 800;
  font-size: xx-large;
  width: 100px;
  height: 100px;

}
.increment:hover{
  background: rgb(80, 214, 80);
}
.decrement:hover{
  background: rgb(80, 214, 80);
}